doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Водородная очистка двигателя и катализатора в Нижнем Новгороде, раскоксовка двигателя водородом
    meta(name='description' content='Повторные визиты клиентов - доказательство эффективности очистки водородом двигателя')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='canonical' href='https://www.h2engine52.ru/about')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,200&subset=latin,Cyrillic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/custom.css')
    link(rel='stylesheet' href='css/adapt.css')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-120x120.png' sizes='120x120')
    link(rel='apple-touch-icon' sizes='57x57' href='https://www.h2engine52.ru/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='https://www.h2engine52.ru/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='https://www.h2engine52.ru/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='https://www.h2engine52.ru/favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='https://www.h2engine52.ru/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='https://www.h2engine52.ru/favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='https://www.h2engine52.ru/favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='https://www.h2engine52.ru/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='https://www.h2engine52.ru/favicon/apple-touch-icon-180x180.png')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-36x36.png' sizes='36x36')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-48x48.png' sizes='48x48')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-72x72.png' sizes='72x72')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-144x144.png' sizes='144x144')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-192x192.png' sizes='192x192')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-70x70.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-144x144.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-150x150.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-310x150.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-310x310.png')
    meta(name='msapplication-TileColor' content='#6666ff')
    meta(name='theme-color' content='#6666ff')
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-BPFEK8VZJZ')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-BPFEK8VZJZ');
    script(type='application/ld+json').
      {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://www.h2engine52.ru",
      "logo": "https://www.h2engine52.ru/favicon/favicon-120x120.png",
      "legalName": "Водород + НН"
      }
  body
    // Yandex.Metrika counter
    script.
      (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(73374400, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
      });
    noscript
      div
        img(src='https://mc.yandex.ru/watch/73374400' style='position:absolute; left:-9999px;' alt='')
    // /Yandex.Metrika counter
    div(itemscope='' itemtype='http://schema.org/Article')
      header
        nav
          .ci-telephone
            img(src='imgs/call.png' alt='')
            div
              a(href='tel:+79200044888') +7 920 00-44-888
              a(href='tel:+79063577357') +7 906 357-73-57
          .ci-soc-network
            a(href='https://www.instagram.com/h2engine_nn' target='_blank')
              img(src='imgs/inst_logo.png' alt='')
            a(href='https://vk.com/h2engine_nn' target='_blank')
              img(src='imgs/vk_logo.png' alt='')
          .nav-container
            p Меню
            div
              span#firstlinemobmenu
              span
              span
            ul
              li
                a(href='/') Главная
              li
                a(href='#') Услуги
                // первый уровень выпадающего списка
                ul
                  li
                    a(href='/engineclean') Водородная очистка
                  li
                    a(href='/katalizatorclean') Очистка катализатора
              li
                a(href='/#price-block-ID') Цены
              li
                a(href='/contacts') Контакты
      .main-text-p1
        h1(itemprop='headline') О нас
      article(itemprop='articleBody')
        h2.display_none ‌
        p.about-text-p
          | Уже 2 года мы заботимся о состоянии двигателей Ваших автомобилей. Узнав о
          | водородном способе
          | очистки двигателя из Европы, мы решили перенять эту продуктивную идею и донести нижегородцам что это
          | выгодно
          | и безопасно. Сделав профилактическую очистку двигателя водородом, Вы экономите на ремонте двигателя,
          | который
          | засоряется и однажды сломается. Это может произойти когда угодно – и вряд ли Вы будете к этому готовы.
        p.about-text-p
          | Многие наши довольные клиенты уже улучшили состояние двигателей своих автомобилей и
          | часто заезжают на
          | процедуру водородной очистки двигателя повторно, рекомендуют ее своим знакомым.
        p.about-text-p
          | Получить еще больше информации о нас, а также посмотреть фото и видео некоторых
          | наших
          | работ можно в социальных сетях.
        .about-soc-network
          a(href='https://www.instagram.com/h2engine_nn' target='_blank')
            img(src='imgs/inst_logo.png' alt='')
          a(href='https://vk.com/h2engine_nn' target='_blank')
            img(src='imgs/vk_logo.png' alt='')
      meta(itemprop='datePublished' content='2021-03-08T16:20:30+00:00')
      meta(itemprop='dateModified' content='2021-03-14T16:20:30+00:00')
      meta(itemprop='author' content='Водород + НН')
      meta(itemprop='image' content='https://www.h2engine52.ru/favicon/favicon-32x32.png')
      meta(itemprop='mainEntityOfPage' content='https://www.h2engine52.ru/about')
      .display_none(itemprop='publisher' itemscope='' itemtype='https://schema.org/Organization')
        div(itemprop='logo' itemscope='' itemtype='https://schema.org/ImageObject')
          img(itemprop='url image' src='https://www.h2engine52.ru/favicon/favicon-120x120.png' alt='')
          meta(itemprop='width' content='120')
          meta(itemprop='height' content='120')
        meta(itemprop='name' content='Водород + НН')
        .ci-telephone-contacts
          img(src='imgs/call.png' alt='')
          div
            a(href='tel:+79200044888' itemprop='telephone') +7 920 00-44-888
            a(href='tel:+79063577357' itemprop='telephone') +7 906 357-73-57
        address(itemprop='address' itemscope='' itemtype='http://schema.org/PostalAddress')
          meta(itemprop='postalCode' content='603136')
          span(itemprop='addressLocality') Нижний Новгород
          span(itemprop='streetAddress')
            | ул. Генерала
            | Ивлиева, д. 33"А"
      p.tohomepage
        a.button(href='/') На главную
    a#popup__toggle(href='/contacts#callbackformID')
      .circlephone(style='transform-origin: center;')
      .circle-fill(style='transform-origin: center;')
      .img-circle(style='transform-origin: center;')
        span
          | Заказать
          br
          | звонок
        .img-circleblock(style='transform-origin: center;')
    .like_block
      a.like_vk(href='https://vk.com/share.php?url=https://www.h2engine52.ru' target='_blank')  
      a.like_ok(href='https://connect.ok.ru/offer?url=https://www.h2engine52.ru' target='_blank')  
      a.like_fb(href='https://www.facebook.com/sharer/sharer.php?u=https://www.h2engine52.ru' target='_blank')  
    footer
      | © 2021 h2engine52.ru
