doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title
      | Водородная очистка двигателя и катализатора, раскоксовка двигателя водородом в Нижнем Новгороде, водородинг двигателя
    meta(name='description' content='Очистим водородом двигатель, катализатор, проведем раскоксовку на современном оборудовании. Безопасно, без разбора двигателя и применения химии.')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='google-site-verification' content='74iofbFkTABmXustvVMJuBCOgFasRDvrk9h-QhahON8')
    link(rel='canonical' href='https://www.h2engine52.ru')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,200&subset=latin,Cyrillic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/custom.css')
    link(rel='stylesheet' href='css/adapt.css')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-120x120.png' sizes='120x120')
    link(rel='apple-touch-icon' sizes='57x57' href='https://www.h2engine52.ru/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='https://www.h2engine52.ru/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='https://www.h2engine52.ru/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='https://www.h2engine52.ru/favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='https://www.h2engine52.ru/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='https://www.h2engine52.ru/favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='https://www.h2engine52.ru/favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='https://www.h2engine52.ru/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='https://www.h2engine52.ru/favicon/apple-touch-icon-180x180.png')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-36x36.png' sizes='36x36')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-48x48.png' sizes='48x48')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-72x72.png' sizes='72x72')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-144x144.png' sizes='144x144')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-192x192.png' sizes='192x192')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-70x70.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-144x144.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-150x150.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-310x150.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-310x310.png')
    meta(name='msapplication-TileColor' content='#6666ff')
    meta(property='og:title' content='Очистим водородом двигатель, катализатор, проведем раскоксовку на современном оборудовании. Безопасно, без разбора двигателя и применения химии.')
    meta(property='og:type' content='website')
    meta(property='og:description' content='Водород + НН. Водородная очистка двигателя и катализатора. Раскоксовка.')
    meta(property='og:url' content='https://www.h2engine52.ru/')
    meta(property='og:locale' content='ru_RU')
    meta(property='og:image' content='https://www.h2engine52.ru/imgs/vodorod_banner.jpg')
    meta(property='og:image:width' content='500')
    meta(property='og:image:height' content='250')
    meta(name='theme-color' content='#6666ff')
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-BPFEK8VZJZ')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-BPFEK8VZJZ');
  body
    // Yandex.Metrika counter
    script.
      (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(73374400, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
      });
    noscript
      div
        img(src='https://mc.yandex.ru/watch/73374400' style='position:absolute; left:-9999px;' alt='')
    // /Yandex.Metrika counter
    div
      header
        nav
          .ci-telephone
            img(src='imgs/call.png' alt='')
            div
              a(href='tel:+79200044888') +7 920 00-44-888
              a(href='tel:+79063577357') +7 906 357-73-57
          .ci-soc-network
            a(href='https://www.instagram.com/h2engine_nn' target='_blank')
              img(src='imgs/inst_logo.png' alt='')
            a(href='https://vk.com/h2engine_nn' target='_blank')
              img(src='imgs/vk_logo.png' alt='')
          .nav-container
            p Меню
            div
              span#firstlinemobmenu
              span
              span
            ul
              li
                a(href='#') Услуги
                ul
                  li
                    a(href='/engineclean') Водородная очистка
                  li
                    a(href='/katalizatorclean') Очистка катализатора
              li
                a(href='#price-block-ID') Цены
              li
                a(href='/contacts') Контакты
              li
                a(href='/about') О нас
      .main-container
        .main-text
          .main-text-p1
            h1 ОЧИCТКА ДВИГАТЕЛЯ
          div
            .main-text-p2-method ВОДОРОДОМ
            a(href='/contacts')
              img.geolocation(src='imgs/geolocation.png' alt='')
            .main-text-p2-place в Нижнем Новгороде
        .results-logo
          figure.result-logo
            img(src='imgs/result-1.png')
            figcaption Очистка катализатора
          figure.result-logo
            img(src='imgs/result-2.png' alt='')
            figcaption Безопасная раскоксовка
          figure.result-logo
            img(src='imgs/result-3.png' alt='')
            figcaption Снижение расхода топлива
          figure.result-logo
            img(src='imgs/result-4.png' alt='')
            figcaption Мощный старт
      h2.our-clients-header Наши недавние клиенты
      .our-clients-gallery
        figure.our-client-logo
          a(href='' + worksData[0].permalink target='_blank')
            img(src='imgs/' + activeSubDir + '/work-1.jpg' alt='' + worksData[0].automodel + ' проходит водородную очистку двигателя' title='' + worksData[0].automodel + ' на водородной очистке двигателя')
          figcaption
            | #{worksData[0].caption}
            p
              a.button(href='' + worksData[0].permalink target='_blank') Подробнее
        figure.our-client-logo
          a(href='' + worksData[1].permalink target='_blank')
            img(decoding='async' src='imgs/' + activeSubDir + '/work-2.jpg' alt='' + worksData[1].automodel + ' проходит водородную очистку двигателя' title='' + worksData[1].automodel + ' на водородной очистке двигателя')
          figcaption
            | #{worksData[1].caption}
            p
              a.button(href='' + worksData[1].permalink target='_blank') Подробнее
        figure.our-client-logo
          a(href='' + worksData[2].permalink target='_blank')
            img(decoding='async' src='imgs/' + activeSubDir + '/work-3.jpg' alt='' + worksData[2].automodel + ' проходит водородную очистку двигателя' title='' + worksData[2].automodel + ' на водородной очистке двигателя')
          figcaption
            | #{worksData[2].caption}
            p
              a.button(href='' + worksData[2].permalink target='_blank') Подробнее
      p.problems-header Если Вы часто сталкиваетесь с проблемами авто:
      .problems-list
        div
          img(src='imgs/galka.png' alt='')
          div двигатель плохо запускается «на холодную»
        div
          img(src='imgs/galka.png' alt='')
          div после запуска наблюдается троение мотора и/или дымление
        div
          img(src='imgs/galka.png' alt='')
          div в ряде случаев выхлоп имеет специфический запах гари
        div
          img(src='imgs/galka.png' alt='')
          div расход масла увеличивается
        div
          img(src='imgs/galka.png' alt='')
          div двигатель теряет мощность
        div
          img(src='imgs/galka.png' alt='')
          div перерасход топлива
      p.sign-up
        a.button(href='#callbackformID') Запишитесь на очистку
      p.recomendations-header Водородная очистка двигателя рекомендована всем типам ДВС
      .recomendations-logo
        figure.recomendation-logo
          img(decoding='async' src='imgs/recom-1.png' alt='Очистка двигателя водородом для легкового транспорта')
          figcaption Легковой автотранспорт
        figure.recomendation-logo
          img(decoding='async' src='imgs/recom-2.png' alt='Очистка двигателя водородом для внедорожников')
          figcaption Внедорожники
        figure.recomendation-logo
          img(decoding='async' src='imgs/recom-3.png' alt='Очистка двигателя водородом для мототехники')
          figcaption Мототехника
        figure.recomendation-logo
          img(decoding='async' src='imgs/recom-4.png' alt='Очистка двигателя водородом для спецтехники')
          figcaption Спецтехника
      .appointment_results
        h2 Без разбора двигателя !
        span
          | Водородная очистка двигателя (раскоксовка двигателя водородом) - это эффективный и недорогой способ проведения внутренней очистки
          | двигателя
          | на новейшем оборудовании. Процедура проводится в Вашем присутствии и занимает от 30 до 90 минут.
        .appointment
          .appointment_header
            img(src='imgs/appointment.png' alt='')
            div НАЗНАЧЕНИЕ
          .appointment_subtitle Очистка двигателя от нагара изнутри:
          div
            img(src='imgs/galka.png' alt='')
            div Поршни, поршневые кольца
          div
            img(src='imgs/galka.png' alt='')
            div Впускные и выпускные клапаны
          div
            img(src='imgs/galka.png' alt='')
            div Свечи зажигания
          div
            img(src='imgs/galka.png' alt='')
            div Форсунки
          div
            img(src='imgs/galka.png' alt='')
            div Клапан EGR
          div
            img(src='imgs/galka.png' alt='')
            div Турбокомпрессор
          div
            img(src='imgs/galka.png' alt='')
            div Выпускной коллектор
          div
            img(src='imgs/galka.png' alt='')
            div Катализатор, сажевый фильтр, лямбда-зонд и другие детали
        .results
          .results_header
            img(src='imgs/results.png' alt='')
            div РЕЗУЛЬТАТЫ
          .results_subtitle   
          div
            img.results_first_galka(src='imgs/galka.png' alt='')
            div Увеличение срока службы двигателя
          div
            img(src='imgs/galka.png' alt='')
            div Мощный и динамичный разгон
          div
            img(src='imgs/galka.png' alt='')
            div Снижение расхода топлива и масла
          div
            img(src='imgs/galka.png' alt='')
            div Повышение компрессии
          div
            img(src='imgs/galka.png' alt='')
            div Устойчивая работа двигателя и снижение шумности двигателя
          div
            img(src='imgs/galka.png' alt='')
            div Исчезает копоть из выхлопной трубы
          div
            img(src='imgs/galka.png' alt='')
            div Снижение вредных выбросов в атмосферу
      p.sign-up
        a.button(href='#callbackformID') Запишитесь на очистку
      h2.how-its-work-header Как работает технология водородной очистки двигателя
      p.how-its-work-subheader Раскоксовка ДВС водородом без разбора
      .how-its-work-text
        img(decoding='async' src='imgs/hiw-1.jpg' alt='')
        span
          | В двигатель через воздухозаборник подается атомарная водородно-кислородная смесь (оксигидроген – газ
          | Брауна). Далее в течение регламентированного периода времени ДВС работает на холостом ходу с
          | периодическими
          | прогазовками. Весь нагар вылетает из ДВС через выхлопную трубу в виде CO2, мелкодисперсной сажи и в виде
          | грязной жидкости.
      p.how-its-work-subheader Катализатор дожига
      .how-its-work-text
        img(decoding='async' src='imgs/hiw-2.jpg' alt='')
        span
          | Водород способствует более эффективному сгоранию топливно-воздушной смеси
          | Теплотворная способность водорода в 3 раза выше, чем у бензина/ДТ (28600 кДж против 10500/10300 кДж).
          | Воспламеняясь, водород создает кратковременный, но очень мощный импульс, который разрушает молекулярные
          | связи поверхностного слоя углеродистых отложений. Твердый кокс размягчается, приобретает консистенцию
          | битума.
      p.how-its-work-subheader Оксигидроген – лучше чистого водорода
      .how-its-work-text
        img(decoding='async' src='imgs/hiw-3.jpg' alt='')
        span
          | Процедура водородной очистки двигателя может проводиться как с использованием чистого промышленного
          | водорода, так и при помощи оксигидрогена.
          | Присутствующий в оксигидрогене кислород, позволяет более эффективно окислять углерод. Таким образом,
          | большая
          | часть нагара в камере сгорания, на поверхности поршня, поршневых колец, выпускных клапанах выходит в
          | виде
          | двуокиси углерода – углекислого газа (СО2), не засоряя выхлопную систему.
      p.how-its-work-subheader Перегретый пар
      .how-its-work-text(itemscope='' itemtype='http://schema.org/ImageObject')
        meta(itemprop='name' content='Загрязнения на асфальте')
        meta(itemprop='description' content='Наглядный результат удаления загрязнений при водородной очистке двигателя')
        meta(itemprop='height' content='172 px')
        meta(itemprop='width' content='172 px')
        img(decoding='async' src='imgs/hiw-4.jpg' alt='' itemprop='contentUrl')
        span
          | Водород, окисляясь (сгорая) не только вырабатывает большое количество энергии, но и преобразуется в
          | воду в
          | виде перегретого пара. Перегретый пар является эффективным растворителем. Он помогает очищать как камеру
          | сгорания, так и все элементы сопряженных систем (выхлопной коллектор, клапан и заслонку рециркуляции
          | отработанных газов – EGR, кислородный датчик/лямбда зонд, турбину). Конденсируясь в выхлопной системе он
          | вымывает местные залежи копоти и гари, которые выливаются из выхлопной трубы в виде грязной
          | жидкости.
      p.how-its-work-subheader Пиролиз
      .how-its-work-text
        img(decoding='async' src='imgs/hiw-5.jpg' alt='')
        span
          | Запускается процесс разложения углеродистых соединений на молекулы. На разогретых участках выхлопной
          | системы с отсутствием кислорода запускается процесс пиролиза – термического разложения углеродистых
          | отложений на молекулы. Что позволяет очищать катализатор, сажевый фильтр (у автомобилей на ДТ).
      h2.advantages-header Какие преимущества дает очистка двигателя водородом
      .advantages-list
        .advantage-element
          img(src='imgs/galka.png' alt='')
          div
            p Увеличение мощности и улучшение динамики
            p.advantages-reasons
              | Правильная и сбалансированная работа двигателя дает высокую
              | производительность
        .advantage-element
          img(src='imgs/galka.png' alt='')
          div
            p Снижение расхода масла и топлива
            p.advantages-reasons
              | При улучшении качества сгорания топливно-воздушной смеси прекращается
              | избыточный перерасход топлива
        .advantage-element
          img(src='imgs/galka.png' alt='')
          div
            p Увеличение ресурса узлов двигателя
            p.advantages-reasons
              | Наш метод очистки гарантирует долгосрочную работу вашего двигателя и
              | автомобиля
      h2.price-header Цены
      #price-block-ID.price-container
        div(itemscope='' itemtype='http://schema.org/Product')
          meta(itemprop='name' content='Водородная очистка двигателя')
          meta(itemprop='description' content='Водородная очистка двигателя без разбора двигателя и химии. Цена за 1см³.')
          meta(itemprop='brand' content='Водород + НН')
          link(itemprop='image' href='https://www.h2engine52.ru/imgs/hiw-4.png')
          div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
            span
              | Объем
              br
              | Время
              br
              | Цена
            span
              | от 0,1 л.
              br
              | до 1,5 л.
            span
              | 40
              | мин.
            span(itemprop='price' content='1')
              | 1 руб.
              br
              | за 1 см³
            meta(itemprop='priceCurrency' content='RUB')
            meta(itemprop='availability' content='https://schema.org/InStock')
            meta(itemprop='priceValidUntil' content='2100-01-01')
            link(itemprop='url' href='https://www.h2engine52.ru/engineclean')
        div(itemscope='' itemtype='http://schema.org/Product')
          meta(itemprop='name' content='Водородная очистка катализатора')
          meta(itemprop='description' content='Водородная очистка катализатора без разбора и химии. Цена за 1см³.')
          meta(itemprop='brand' content='Водород + НН')
          link(itemprop='image' href='https://www.h2engine52.ru/imgs/result-1.png')
          div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
            span
              | Объем
              br
              | Время
              br
              | Цена
            span
              | от 1,6 л.
              br
              | до 2,5 л.
            span
              | 60
              | мин.
            span(itemprop='price' content='1')
              | 1 руб.
              br
              | за 1 см³
            meta(itemprop='priceCurrency' content='RUB')
            meta(itemprop='availability' content='https://schema.org/InStock')
            meta(itemprop='priceValidUntil' content='2100-01-01')
            link(itemprop='url' href='https://www.h2engine52.ru/katalizatorclean')
        div(itemscope='' itemtype='http://schema.org/Product')
          meta(itemprop='name' content='Раскоксовка двигателя водородом')
          meta(itemprop='description' content='Раскоксовка двигателя водородом без разбора и химии. Цена за 1см³.')
          meta(itemprop='brand' content='Водород + НН')
          link(itemprop='image' href='https://www.h2engine52.ru/imgs/raskoksovka_compare.png')
          div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
            span
              | Объем
              br
              | Время
              br
              | Цена
            span
              | от 2,6 л.
              br
              | до 3,5 л.
            span
              | 80
              | мин.
            span(itemprop='price' content='1')
              | 1 руб.
              br
              | за 1 см³
            meta(itemprop='priceCurrency' content='RUB')
            meta(itemprop='availability' content='https://schema.org/InStock')
            meta(itemprop='priceValidUntil' content='2100-01-01')
        div(itemscope='' itemtype='http://schema.org/Product')
          meta(itemprop='name' content='Очистка двигателя водородом')
          meta(itemprop='description' content='Очистка двигателя водородом без разбора двигателя и химии. Цена за 1см³.')
          meta(itemprop='brand' content='Водород + НН')
          link(itemprop='image' href='https://www.h2engine52.ru/imgs/hiw-4.png')
          div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
            span
              | Объем
              br
              | Время
              br
              | Цена
            span
              | от 3,6 л.
              br
              | до 4,5 л.
            span
              | 100
              | мин.
            span(itemprop='price' content='1')
              | 1 руб.
              br
              | за 1 см³
            meta(itemprop='priceCurrency' content='RUB')
            meta(itemprop='availability' content='https://schema.org/InStock')
            meta(itemprop='priceValidUntil' content='2100-01-01')
            link(itemprop='url' href='https://www.h2engine52.ru/engineclean')
        div(itemscope='' itemtype='http://schema.org/Product')
          meta(itemprop='name' content='Очистка катализатора водородом')
          meta(itemprop='description' content='Очистка катализатора водородом без разбора двигателя и химии. Цена за 1см³.')
          meta(itemprop='brand' content='Водород + НН')
          link(itemprop='image' href='https://www.h2engine52.ru/imgs/result-1.png')
          div(itemprop='offers' itemscope='' itemtype='http://schema.org/Offer')
            span
              | Объем
              br
              | Время
              br
              | Цена
            span
              | от 4,6 л.
              br
              | до 14 л.
            span
              | 120
              | мин.
            span(itemprop='price' content='1')
              | 1 руб.
              br
              | за 1 см³
            meta(itemprop='priceCurrency' content='RUB')
            meta(itemprop='availability' content='https://schema.org/InStock')
            meta(itemprop='priceValidUntil' content='2100-01-01')
            link(itemprop='url' href='https://www.h2engine52.ru/katalizatorclean')
      p.contacts-header Свяжитесь с нами
      .contacts-container(itemscope='' itemtype='http://schema.org/Organization')
        .contacts-info
          meta(itemprop='name' content='Водород + НН')
          .ci-telephone-contacts
            img(src='imgs/call.png' alt='')
            div
              a(href='tel:+79200044888' itemprop='telephone') +7 920 00-44-888
              a(href='tel:+79063577357' itemprop='telephone') +7 906 357-73-57
          address(itemprop='address' itemscope='' itemtype='http://schema.org/PostalAddress')
            meta(itemprop='postalCode' content='603136')
            span(itemprop='addressLocality') Нижний Новгород
            span(itemprop='streetAddress')
              | ул. Генерала
              | Ивлиева, д. 33"А"
          address(itemprop='address' itemscope='' itemtype='http://schema.org/PostalAddress')
            meta(itemprop='postalCode' content='603003')
            span(itemprop='addressLocality') Нижний Новгород
            span(itemprop='streetAddress')
              | ул.
              | Станционная, д. 50"Б"
          .contacts-geolocation
            a(href='/contacts') На карте  
            a(href='/contacts')
              img(src='imgs/geolocation.png' alt='')
          .contacts-soc-network
            | Получить еще больше информации о нас, а также посмотреть фото и видео
            | некоторых наших работ можно в социальных сетях.
            div
              a(href='https://www.instagram.com/h2engine_nn' target='_blank')
                img(src='imgs/inst_logo.png' alt='')
              a(href='https://vk.com/h2engine_nn' target='_blank')
                img(src='imgs/vk_logo.png' alt='')
        .contacts-callback
          fieldset
            legend#callbackformID Заказать звонок
            form(action='/sendorder' method='post')
              input(type='text' name='name' required='' placeholder='Имя' maxlength='20')
              input(type='text' name='telephone' required='' placeholder='Телефон' maxlength='20')
              textarea(rows='5' cols='20' name='comment' maxlength='1000' placeholder='Комментарий')
              button(type='submit') Отправить заказ
    a#popup__toggle(href='#callbackformID')
      .circlephone(style='transform-origin: center;')
      .circle-fill(style='transform-origin: center;')
      .img-circle(style='transform-origin: center;')
        span
          | Заказать
          br
          | звонок
        .img-circleblock(style='transform-origin: center;')
    .like_block
      a.like_vk(href='https://vk.com/share.php?url=https://www.h2engine52.ru' target='_blank')  
      a.like_ok(href='https://connect.ok.ru/offer?url=https://www.h2engine52.ru' target='_blank')  
      a.like_fb(href='https://www.facebook.com/sharer/sharer.php?u=https://www.h2engine52.ru' target='_blank')  
    footer
      | © 2021 h2engine52.ru
