doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Водородная очистка катализатора в Нижнем Новгороде
    meta(name='description' content='Продлите ресурс катализатора. «CHECK ENGINE» может исчезнуть. Произвести очистку водородом катализатора автомобиля в Нижнем Новгороде.')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='canonical' href='https://www.h2engine52.ru/katalizatorclean')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,200&subset=latin,Cyrillic' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='css/normalize.css')
    link(rel='stylesheet' href='css/custom.css')
    link(rel='stylesheet' href='css/adapt.css')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/favicon-120x120.png' sizes='120x120')
    link(rel='apple-touch-icon' sizes='57x57' href='https://www.h2engine52.ru/favicon/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='https://www.h2engine52.ru/favicon/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='https://www.h2engine52.ru/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='https://www.h2engine52.ru/favicon/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='https://www.h2engine52.ru/favicon/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='https://www.h2engine52.ru/favicon/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='https://www.h2engine52.ru/favicon/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='https://www.h2engine52.ru/favicon/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='https://www.h2engine52.ru/favicon/apple-touch-icon-180x180.png')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-36x36.png' sizes='36x36')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-48x48.png' sizes='48x48')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-72x72.png' sizes='72x72')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-96x96.png' sizes='96x96')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-144x144.png' sizes='144x144')
    link(rel='icon' type='image/png' href='https://www.h2engine52.ru/favicon/android-chrome-192x192.png' sizes='192x192')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-70x70.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-144x144.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-150x150.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-310x150.png')
    meta(name='msapplication-TileImage' content='https://www.h2engine52.ru/favicon/mstile-310x310.png')
    meta(name='msapplication-TileColor' content='#6666ff')
    meta(name='theme-color' content='#6666ff')
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-BPFEK8VZJZ')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-BPFEK8VZJZ');
  body
    // Yandex.Metrika counter
    script.
      (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(73374400, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
      });
    noscript
      div
        img(src='https://mc.yandex.ru/watch/73374400' style='position:absolute; left:-9999px;' alt='')
    // /Yandex.Metrika counter
    div(itemscope='' itemtype='http://schema.org/Article')
      header
        nav
          .ci-telephone
            img(src='imgs/call.png' alt='')
            div
              a(href='tel:+79200044888') +7 920 00-44-888
              a(href='tel:+79063577357') +7 906 357-73-57
          .ci-soc-network
            a(href='https://www.instagram.com/h2engine_nn' target='_blank')
              img(src='imgs/inst_logo.png' alt='')
            a(href='https://vk.com/h2engine_nn' target='_blank')
              img(src='imgs/vk_logo.png' alt='')
          .nav-container
            p Меню
            div
              span#firstlinemobmenu
              span
              span
            ul
              li
                a(href='/') Главная
              li
                a(href='#') Услуги
                ul
                  li
                    a(href='/engineclean') Водородная очистка
              li
                a(href='/#price-block-ID') Цены
              li
                a(href='/contacts') Контакты
              li
                a(href='/about') О нас
      .main-text-p1
        h1(itemprop='headline') Водородная очистка катализатора
      .service-card-container
        figure.service-card
          img(src='imgs/result-1.png' alt='Очистка катализатора водородом' title='Водородная очистка катализатора')
          figcaption
            | Цена 1 руб. за 1 см³
            p.specify_p
              a(href='/#price-block-ID') Уточнить
            p
              a.button(href='/contacts#callbackformID' target='_blank') Заказать
        article(itemprop='articleBody') ‌
          h2.article-text-h2.article-text-h2-header Что делать с вышедшим из строя катализатором?
          p.article-text-p
            | Каталитический нейтрализатор расположен во фланце выпускного коллектора. Основным
            | его
            | назначением является нейтрализация токсических веществ, которые неизбежно образуются в результате работы
            | двигателя внутреннего сгорания, а после попадают в окружающую среду. Cредний срок службы каталитического
            | нейтрализатора не более 100 000 километров
            | пробега, после чего он частично перестает выполнять возложенные на него обязательства, требуя внешнего
            | вмешательства сотрудников сервисного центра. Катализатор состоит из металлического корпуса,
            | керамических сот и активного катализатора с прослойкой. Как показывает практика, катализатор выходит из
            | строя из-за засорения сот. Низкокачественное топливо, содержащее разнообразные химические примеси,
            | весьма
            | быстро выводит каталитический нейтрализатор из строя. В результате появляются проблемы с запуском
            | мотора,
            | падает динамика разгона, увеличивается расход топлива. И, что самое печальное, при обращении в сервисный
            | центр, вам обязательно предложат заменить элемент на новый, так как ремонтные работы на автомобильный
            | катализатор любой автомобильной марки и модели попросту не предусмотрены заводом изготовителем. Или же
            | предложат вариант удаления данного узла, как более дешевый и доступный. Да, стоимость катализатора на
            | многих
            | автомобилях весьма высока. А некоторые модели авто имеют в своей конструкции по нескольку каталитических
            | нейтрализаторов. Соответственно, это затраты, и, весьма, немалые. Но необходимо понимать, что
            | конструкция
            | любого автомобиля сбалансирована и не имеет лишних элементов. Ведь неспроста квалифицированные инженеры
            | включили данный элемент в конструкцию проектируемого автомобиля. Физическое удаление катализатора
            | непременно
            | скажется на сроке
            | службы ДВС, снизив ресурс его внутренних элементов. Не говоря уже о технических характеристиках
            | двигателя,
            | которые тоже изменятся в худшую сторону. Многие автовладельцы хоть и подмечают, что мощность мотора
            | увеличивается после удаления каталитического нейтрализатора, но, к сожалению, это только временное
            | явление.
            | Вваренный резонатор не способен выполнять функции катализатора, так как его конструкция довольно
            | примитивна.
            | В результате ваш автомобиль будет ограничен в передвижении, и вы можете навсегда забыть о поездках на
            | машине
            | за границу. Уровень повышенной токсичности не даст вам шансов на путешествия. К тому же, потребуется
            | программное вмешательство в блок управления двигателем, «обновляя» его прошивку до более “архаичной”
            | версии,
            | где каталитический нейтрализатор попросту не использовался. Сомнительное удовольствие, не так ли?
          p.article-text-p
            | Выходом из данной ситуации является водородная очистка, которая с высокой степенью
            | вероятности восстановит работоспособность каталитического нейтрализатора, очистив его соты от нагара и
            | грязи. В результате вы получите стабильный запуск и хорошую работоспособность мотора вашего автомобиля,
            | более
            | динамичные показатели, мгновенный отклик при нажатии на педаль газа, нормализовавшийся расход топлива, а
            | также забудете о периодической ошибке «CHECK ENGINE». Всего от 40 до 120 минут потребуется работникам
            | нашего сервиса, чтобы восстановить работоспособность катализатора без разбора и применения химических
            | элементов, что избавит вас от неоднозначного выбора, сохранив конструктивную целостность вашего
            | автомобиля.
          h2.article-text-h2 Очистить катализатор быстро, качественно и без нарушения целостности авто!
          p.article-text-p
            | Знаете ли вы, что регулярная чистка катализатора помогает увеличить его рабочий
            | ресурс
            | и положительно сказывается на общем техническом состоянии авто? Если нет, то самое время в этом
            | убедиться!
            | Неполное сгорание топлива, сбои свечей и поездки на небольших оборотах приводят к тому, что на
            | форсунках,
            | стенках цилиндров и других элементах выхлопной системы появляется нагар. Водородная очистка катализатора
            | и
            | сажевого фильтра — это уникальный метод, позволяющий быстро, выгодно и эффективно очистить систему без
            | разбора и использования химии. Вся работа займет не более 120 минут, а это реальная экономия вашего
            | времени!
            | При такой очистке улучшается работа всех элементов выхлопной системы.
          p.article-text-p
            | Водородная очистка двигателей автомобилей – это уникальная инновационная
            | технология, получившая много положительных отзывов в свой адрес. Для проведения процедуры водородной
            | очистки любого ДВС необходимо специальное оборудование, которое путем электролиза способствует выделению
            | водорода из дистиллированной воды. Результатом такой процедуры является полное отслаивание углеродного
            | коллоида, а также выброс его через выхлопную трубу автомобиля. Водородная очистка двигателя помогает
            | избавиться не только от свежих, но и от застарелых отложений внутри двигателя.
          h2.article-text-h2 Основные достоинства очистки катализатора водородом:
          ul.article-text-ul
            li простота применения;
            li нет вредных химических присадок;
            li нет необходимости разбирать систему;
            li отсутствие рисков случайных повреждений катализатора.
          h2.article-text-h2 В итоге вы получите:
          ul.article-text-ul
            li существенное продление ресурса катализатора;
            li возврат к заводским техническим параметрам эластичности и динамики;
            li уменьшение расхода топлива;
            li снижение попадания вредных выхлопов в окружающую среду.
          h2.article-text-h2 Мы готовы сделать больше чем другие только обещают!
      meta(itemprop='datePublished' content='2021-03-08T16:20:30+00:00')
      meta(itemprop='dateModified' content='2021-03-14T16:20:30+00:00')
      meta(itemprop='author' content='Водород + НН')
      meta(itemprop='image' content='https://www.h2engine52.ru/favicon/favicon-32x32.png')
      meta(itemprop='mainEntityOfPage' content='https://www.h2engine52.ru/katalizatorclean')
      .display_none(itemprop='publisher' itemscope='' itemtype='https://schema.org/Organization')
        div(itemprop='logo' itemscope='' itemtype='https://schema.org/ImageObject')
          img(itemprop='url image' src='https://www.h2engine52.ru/favicon/favicon-120x120.png' alt='')
          meta(itemprop='width' content='120')
          meta(itemprop='height' content='120')
        meta(itemprop='name' content='Водород + НН')
        .ci-telephone-contacts
          img(src='imgs/call.png' alt='')
          div
            a(href='tel:+79200044888' itemprop='telephone') +7 920 00-44-888
            a(href='tel:+79063577357' itemprop='telephone') +7 906 357-73-57
        address(itemprop='address' itemscope='' itemtype='http://schema.org/PostalAddress')
          meta(itemprop='postalCode' content='603136')
          span(itemprop='addressLocality') Нижний Новгород
          span(itemprop='streetAddress')
            | ул. Генерала
            | Ивлиева, д. 33"А"
      p.tohomepage
        a.button(href='/') На главную
      p.display_none
        a.button(href='/') Заказать
    a#popup__toggle(href='/contacts#callbackformID')
      .circlephone(style='transform-origin: center;')
      .circle-fill(style='transform-origin: center;')
      .img-circle(style='transform-origin: center;')
        span
          | Заказать
          br
          | звонок
        .img-circleblock(style='transform-origin: center;')
    .like_block
      a.like_vk(href='https://vk.com/share.php?url=https://www.h2engine52.ru' target='_blank')  
      a.like_ok(href='https://connect.ok.ru/offer?url=https://www.h2engine52.ru' target='_blank')  
      a.like_fb(href='https://www.facebook.com/sharer/sharer.php?u=https://www.h2engine52.ru' target='_blank')
    footer
      | © 2021 h2engine52.ru
